@import 'tailwindcss';

:root,
body,
#root {
  font-family: 'Cormorant Garamond', serif;
}

.app-container {
  background-image: url('https://cdn.dribbble.com/userupload/43587598/file/original-83d576f4dbe3197ae4dfe10ac4e5918c.jpg?resize=1024x768&vertical=center');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
* {
  box-sizing: border-box;
}
